# Inspired by https://github.com/openfaas/faas/blob/master/.github/workflows/publish.yml
name: publish

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Metadata
        id: docker-meta
        uses: docker/metadata-action@v5
        with:
          images: bfg100k/transmissionic-standalone
          tags: |
            # Tag branches with branch name, but disable for default branch
            type=ref,event=branch,enable=${{ github.ref_name != 'master' }}
            # set latest tag for default branch
            type=raw,value=latest,enable=${{ github.ref_name == 'master' }}
            type=raw,value={{date 'YYYYMMDD'}}_{{branch}}_{{sha}}

      - name: Note build time
        run: |
          echo "BUILD_DATE=$(date)" >> ${GITHUB_ENV}
          echo "SHA_TRIMMED=${GITHUB_SHA::7}" >> ${GITHUB_ENV}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: ${{ github.repository_owner == 'bfg100k' }}
          tags: ${{ steps.docker-meta.outputs.tags }}
          build-args: |
            BUILDINFO="${{ github.ref_name }} ${{ env.SHA_TRIMMED }} ${{ env.BUILD_DATE }}"
          labels: ${{ steps.docker-meta.outputs.labels }}
      
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
